Repository Logarithm-Labs/fractal-defi, pull requests merged in 2025-02, with the labels that each got.

#18 Add HyperliquidBasisStrategy by Logarithm Labs
  examples/managed_basis_strategy.py/mb_strategy.py
  fractal/core/base/strategy/result.py
  fractal/core/base/strategy/strategy.py
  fractal/core/entities/hyperliquid.py
  fractal/loaders/hyperliquid.py
Labels: bug, new strategy

#19 Add Hyperliquid ManagedBasisStrategy pipeline
  examples/managed_basis_strategy/mb_pipeline.py
  examples/managed_basis_strategy/mb_strategy.py
  fractal/core/entities/hyperliquid.py
Labels: bug, documentation

#20 Set up Hyperliquid Managed Basis strategy
  examples/managed_basis_strategy/mb_hl_strategy.py
  examples/managed_basis_strategy/mb_pipeline.py
  fractal/core/base/strategy/strategy.py
  fractal/core/entities/hyperliquid.py
  fractal/loaders/binance.py
  fractal/strategies/basis_trading_strategy.py
  fractal/strategies/hyperliquid_basis.py
Labels: core, new strategy
